.col-sm-4.col-md-3.proto-content
  if user_signed_in? && current_user.id == prototype.user_id
    .dropdown.drop_menu_location
      %button#dropdownMenu.btn.btn-default.dropdown-toggle{"data-toggle"   => "dropdown", :type => "button"}  Action
      %ul.dropdown-menu{"aria-labelledby" => "dropdownMenu1"}
        %li
          =link_to "Delete", "/prototypes/#{prototype.id}", rel: "nofollow  ", method: :delete
          / %a{"data-method" => "delete", :href => "/  prototypes/#{prototype.id}", :rel => "nofollow"} Delete
        %li
          =link_to "Edit", edit_prototype_path(prototype)
          / %a{:href => "/prototypes/#{prototype.id}/edit"} Edit
  .thumbnail
    =link_to image_tag(prototype.main_image.content), prototype_path(  prototype)
    .caption
      %h3
        = prototype.title
      .proto-meta
        .proto-user
          =link_to "by #{prototype.user.nickname}", user_path(prototype.  user_id)
        .proto-posted
          = prototype.created_at.strftime("%b %d")
      %ul.proto-tag-list.list-inline
        %li
          =link_to "iPad", "/", class: "btn btn-default"
        %li
          =link_to "wireframe", "/", class: "btn btn-default"

/ .contents.row
/   - @tweets.each do |tweet|
/     .content_post{:style => "background-image: url(#{tweet.image});"}
/       - if user_signed_in? && tweet.user_id == current_user.id
/         .more
/           %span= image_tag 'arrow_top.png'
/           %ul.more_list
/             %li
/               = link_to '編集', "/tweets/#{tweet.id}/edit", method: :get
/             %li
/               = link_to '削除', "/tweets/#{tweet.id}", method: :delete
/       = simple_format(tweet.text)
/       %span.name
/         %a{:href => "/users/#{tweet.user_id}"}
/           %span 投稿者
/           = tweet.user.nickname
/   = paginate(@tweets)
