.jumbotron
  .container.text-center
    = image_tag("header_logo.png", alt: "PROTO TYPE - SHARE THE PROTOTYPE", height: "73px")

.filter-nav
  .container
    .row
      %ul.nav.nav-pills.col-lg-11
        %li.active{role: "presentation"}
          %a{href: "#"} Popular PROTO
        %li{role: "presentation"}
          %a{href: "#"} Newest PROTO
      %button{type: "button", class: "btn btn-default col-lg-1"} View Tags

.container.proto-list
  .row
    - @prototypes.each do |prototype|
      .col-sm-4.col-md-3.proto-content
        .thumbnail
          =link_to image_tag("#{prototype.capture_images.main.first.content}"), prototype_path(prototype)
          .caption
            %h3
              = prototype.title
            .proto-meta
              .proto-user
                =link_to "by #{prototype.user.nickname}", user_path(prototype.user_id)
              .proto-posted
                = prototype.created_at.strftime("%b %d")
            %ul.proto-tag-list.list-inline
              %li
                =link_to "iPad", "/", class: "btn btn-default"
              %li
                =link_to "wireframe", "/", class: "btn btn-default"

.text-center
  = paginate @prototypes
